@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');

* {
   margin: 0;
   padding: 0;
   transition: all 0.3s ease;
   box-sizing: border-box;
   text-decoration: none;
   flex-wrap: wrap;
   font-family: 'Nunito', sans-serif;
   scroll-behavior: smooth;
   text-transform: capitalize;
   list-style: none;
}

body {
   background: #F9F8F6;
}

header.header {
   display: flex;
   justify-content: space-between;
   background: #F9F8F6;
   align-items: center;
   padding: 15px 30px;
   text-transform: uppercase;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 100;
}

.header .container-1 a {
   margin-left: 25px;
   color: #58595B;
}

.header .container-2 h1 {
   color: #58595B;
   margin-left: 80px;
}

.header .container-3 h4 {
   display: inline;
}

.header .container-3 a {
   color: #58595B;
   margin-left: 20px;
}

.header .container-3 i {
   font-size: 25px;
}

.header .container-3 .active {
   border-bottom: 2px solid #58595B;
}

.menu-phone {
   display: none;
   background: #fff;
   width: 100%;
   position: absolute;
   top: -1px;
   left: -768px;
   padding: 0px 30px;
   padding-bottom: 200px;
}

.menu-phone ul img {
   margin-top: 70px;
   margin-bottom: 50px;
}

#menu-icon {
   font-size: 45px;
   position: absolute;
   color: #58595B;
}

.menu-phone ul {
   list-style: none;
   margin-top: 100px;
   text-align: center;
}

.menu-phone li {
   margin-top: 10px;
   border-bottom: 2px solid #58595B;
   padding: 10px 0;
}

.menu-phone ul .share i {
   margin-left: 10px;
   font-size: 45px;
   margin-top: 50px;
   color: #58595B;
}

.header .container-2 i {
   display: none;
}

.content {
   margin-top: 100px;
}

.content .container {
   display: flex;
   flex-wrap: wrap;
}

.content .container .item {
   flex-basis: 50%;
   height: 120vh;
   position: relative;
}

.content .container .item-1 img {
   width: 350px;
   position: absolute;
   top: 120px;
   left: -120px;
}

.content .container .item-2 img {
   width: 350px;
   position: absolute;
   top: 170px;
   right: -120px;
}

.content .container .item-1 {
   background-image: url(../images/sss.png);
   background-size: cover;
   background-position: center;
}

.content .container .item-2 {
   background-image: url(../images/ssss.png);
   background-size: cover;
   background-position: center;
}

.content .container .item-3 {
   padding: 150px;
   color: #58595B;
}

.footer {
   padding: 50px 100px;
   display: flex;
   justify-content: space-between;
}

.footer .container-1 {
   display: flex;
}

.footer .container-1 .share {
   width: 70px;
   display: flex;
   justify-content: space-between;
}

.footer .container-1 .share i {
   font-size: 25px;
   color: #58595B;
}

.footer .container-1 a {
   color: #58595B;
   font-size: 18px;
   text-transform: uppercase;
   margin-left: 30px;
}

@media only screen and (max-width:1050px) {
   .content .container .item {
      flex-basis: 80%;
      position: relative;
      padding: 100px;
   }

   .content .container .item-3 {
      flex-basis: 100%;
      height: 30vh;
   }

   .content .container .item-1 {
      margin-left: 20%;
      height: 50vh;
   }

   .content .container .item-1 img {
      top: 70px;
      left: -200px;
   }

   .content .container .item-2 {
      height: 50vh;
   }

   .content .container .item-2 img {
      top: 80px;
      right: -200px;
   }
}

@media only screen and (max-width:768px) {

   header.header .none {
      display: none;
   }

   .menu-phone {
      display: block;
      font-size: 25px;
      position: absolute;
      margin-top: 10px;
      height: 100vh;
   }

   .header .container-2 i {
      display: block;
   }

   .content .container .item {
      flex-basis: 80%;
   }

   .content .container .item-3 {
      flex-basis: 100%;
      height: 50vh;
   }

   .content .container .item-1 {
      margin-left: 20%;
      height: 65vh;
   }

   .content .container .item-1 img {
      top: 70px;
      left: -200px;
   }

   .content .container .item-2 {
      height: 65vh;
   }

   .content .container .item-2 img {
      top: 80px;
      right: -140px;
   }

   .header .container-2 .box-line {
      display: block;
      position: absolute;
      top: 20px;
   }

   .header .container-2 .line {
      width: 40px;
      height: 5px;
      background: #58595B;
   }

   .header .container-2 .line:not(:first-child) {
      margin-top: 7px;
   }
}

@media only screen and (max-width:600px) {

   .footer {
      padding: 50px 10px;
      padding-bottom: 10px;
   }

   .footer .container-1 .share {
      display: flex;
      margin: 0 auto;
      margin-bottom: 20px;
   }

   .footer .container-1 {
      display: block;
      text-align: center;
   }

   .footer .container-2 {
      margin: 0 auto;
      margin-top: 20px;
      font-size: 25px;
   }

   .content .container .item {
      flex-basis: 80%;
      padding: 10px;
   }

   .content .container .item-3 {
      flex-basis: 100%;
      height: 70vh;
   }

   .content .container .item-1 {
      margin-left: 20%;
      height: 65vh;
   }

   .content .container .item-1 img {
      width: 200px;
      top: 100px;
      left: -80px;
   }

   .content .container .item-2 {
      height: 65vh;
   }

   .content .container .item-2 img {
      width: 200px;
      top: 90px;
      right: -75px;
   }
}